


.main {
    margin-left: 20px;
    margin-top: 10px;
}
input[type='number']{
    width: 40px;
} 
#errorMessage{
    color: red;
    display: none;
}
#description{
    font-family: "Times New Roman", Times, serif;
    padding-left: 5%;
    padding-right: 40%;
}